body{
    padding: 15px, 14px;
    margin:10px, 20 px;
    color: red;
    font-size:60px;
    background-image: url("https://www.pluggedin.ru/images/1-bigTopImage_2023_03_22_16_53_43.jpeg");
}


p{
    background-color: rgb(209, 190, 214);
    padding: 15px, 14px;
    margin:10px, 20 px;
    color: red;
    font-size:50px;
}
